@use "./variables" as *;

* {
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;

    font-family: $font-primary;

    color: $color-text;

    background-color: $color-background;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}

button,
input,
textarea,
select {
    font-family: inherit;
}