// ======================================================
// COLORES CORPORATIVOS
// ======================================================

$color-primary: #0C78BD;
$color-danger: #C11723;
$color-warning: #FECC00;
$color-success: #159336;


// ======================================================
// COLORES GENERALES
// ======================================================

$color-white: #FFFFFF;
$color-black: #000000;

$color-background: #F5F7FA;
$color-surface: #FFFFFF;

$color-text: #333333;
$color-text-light: #6C757D;

$color-border: #DEE2E6;


// ======================================================
// TIPOGRAFÍA
// ======================================================

$font-primary: "Segoe UI", Arial, sans-serif;


// ======================================================
// BREAKPOINTS
// ======================================================

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;